services:
  app:
    build:
      context: .
    container_name: mosquitto_broker
    ports:
      - "8080:8000"
      - "1882:1882"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - mosquitto_data:/mqtt_broker/mosquitto-data
    networks:
      - mq-broker-network

  postgres:
    image: postgres:18-alpine
    container_name: mq-broker-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-mq-broker-db}
      POSTGRES_USER: ${POSTGRES_USER:-robbo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-robbo_pwd}
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U robbo -d mq-broker-db" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - mq-broker-network

volumes:
  mosquitto_data:
  postgres_data:

networks:
  mq-broker-network:
    driver: bridge
