SERVER_HOST=0.0.0.0
HTTP_SERVER_PORT=8000

POSTGRES_DSN="host=localhost port=5431 user=robbo password=robbo_pwd dbname=mq-broker-db"
POSTGRES_PORT=5431
POSTGRES_USER=robbo
POSTGRES_PASSWORD=robbo_pwd
POSTGRES_DBNAME=mq-broker-db

AUTH_HASH_SALT=hash_salt
AUTH_ACCESS_SIGNING_KEY=access_signing_key
AUTH_REFRESH_SIGNING_KEY=refresh_signing_key
AUTH_ACCESS_TOKEN_TTL=300 # 5 min 60*5
AUTH_REFRESH_TOKEN_TTL=604800 # 7 day

MOSQUITTO_DIR_EXE=/usr/sbin/
MOSQUITTO_DIR_FILE=/mqtt_broker/mosquitto-data/
